postman.host=http://localhost:8080

doc.field=@io.swagger.annotations.ApiModelProperty#value
field.required=@io.swagger.annotations.ApiModelProperty#required

doc.class=@io.swagger.annotations.Api#value
doc.method=@io.swagger.annotations.ApiOperation#value
param.required=@io.swagger.annotations.ApiParam#required
param.default.value=@io.swagger.annotations.ApiParam#defaultValue

#method.return.main[groovy:it.returnType().isExtend("io.github.batizhao.exception.ResponseInfo")]=data

## security description
#find_role_in_PreAuthorize=(function(exp){var str="";if(exp.indexOf("hasRole")!=-1){var roles=exp.match(/hasRole\\((.*?)\\)/);if(roles&&roles.length>1){str+="require role:"+roles[1];}};return str})
#doc.method[@org.springframework.security.access.prepost.PreAuthorize]=js:${find_role_in_PreAuthorize}(it.ann("org.springframework.security.access.prepost.PreAuthorize"))