<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="smaller lighter blue no-margin">录入成绩</h3>
</div>

<div class="modal-body">
<form class="form-horizontal" id="create-form" action="#"
      th:action="${score.id == null} ? '/score/save' : '/score/update'"
      th:object="${score}" method="post">
<input th:if="${score.id != null}" th:type="hidden" th:field="*{id}" />
<div class="row">
    <div class="row form-group">
        <div class="col-md-3 control-label">
            <label>姓名</label>
        </div>
        <div class="col-md-7 controls">
            <select th:class="form-control" th:field="*{accountName}">
                <option value="" th:text="--请选择学生--"></option>
                <option th:each="a : ${accounts}" th:value="${a.id}" th:text="${a.name}"
                        th:selected="${a.id == score.accountId}"></option>
            </select>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 control-label">
            <label>课程</label>
        </div>
        <div class="col-md-7 controls">
            <select th:class="form-control" th:field="*{courseName}">
                <option th:each="c : ${courses}" th:value="${c.id}" th:text="${c.name}"
                        th:selected="${c.id == score.courseId}"></option>
            </select>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 control-label">
            <label>成绩</label>
        </div>
        <div class="col-md-7 controls">
            <input th:type="text" th:field="*{score}" th:class="form-control" />
        </div>
    </div>

</div>
</form>
</div>

<div class="modal-footer">
<button class="btn btn-sm" data-dismiss="modal">
    <i class="ace-icon fa fa-times"></i>
    取消
</button>

<button class="btn btn-sm btn-primary" id="role-create-btn"
        data-loading-text="正在保存..." data-toggle="form-submit" data-target="#create-form">
    <i class="ace-icon fa fa-check"></i>
    保存
</button>
</div>
<script th:src="@{/jquery.form.min.js}"></script>
<script th:src="@{/jquery.validate.min.js}"></script>
<script th:src="@{/jquery.gritter.min.js}"></script>
<script th:src="@{/app/score/create-modal.js}"></script>
</body>
</html>