<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<head>
    <title>用户</title>
</head>

<body>

<ul layout:fragment="breadcrumbs">
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a th:href="@{/dashboard}">工作台</a>
    </li>

    <li class="active">系统管理</li>
</ul>

<h1 layout:fragment="page-header">
    用户
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        列表
    </small>
    <span class="pull-right inline">
        <a data-backdrop="static" data-toggle="modal" class="btn btn-xs btn-primary" th:href="@{/account/create}" data-target="#myModal">添加</a>
    </span>
</h1>

<ul layout:fragment="nav">
    <li class="">
        <a th:href="@{/dashboard}">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> 工作台 </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text">
                    成绩管理
                </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a th:href="@{/account}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    个人
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a th:href="@{/role}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    排名
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a th:href="@{/role}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    录入
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="active open">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-file-o"></i>
                <span class="menu-text">
                    系统管理
                </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="active">
                <a th:href="@{/account}" class="active">
                    <i class="menu-icon fa fa-caret-right"></i>
                    用户
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a th:href="@{/role}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    角色
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a th:href="@{/course}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    课程
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>
</ul>

<div layout:fragment="content">
    <form id="search-form" class="form-inline" method="get">
        <div class="col-md-12">
            <div>
                <select class="form-control" name="roleId">
                    <option value="">--所有角色--</option>

                </select>
                <input type="hidden" name="searchState" id="searchState" value="0"/>
                <input type="hidden" name="serviceType" id="serviceType" value="0"/>
                <input type="hidden" name="keywordType" value="title"/>
                <input type="text" class="form-control" name="keywords" placeholder="姓名" value=""/>
                <button class="btn btn-purple btn-sm">
                    搜索
                    <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                </button>
            </div>

        </div>
    </form>
    <div class="space-24"></div>

    <div class="col-xs-12">
        <table id="account-table" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>用户名</th>
                <th width="15%">姓名</th>
                <th width="20%">邮箱</th>
                <th width="20%">注册时间</th>
                <th width="20%">角色</th>
                <th width="10%">操作</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="account : ${accounts}">
                <td>
                    <a th:href="${'/account/' + account.id}" th:text="${account.username}"></a>
                </td>
                <td th:text="${account.name}"></td>
                <td th:text="${account.email}"></td>
                <td th:text="${account.time}"></td>
                <td>
                    <span class="label label-sm label-success" th:text="${account.roles}"></span>
                </td>
                <td>
                    <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                        <a class="btn btn-xs btn-info" data-backdrop="static" data-toggle="modal" th:href="${'/account/' + account.id + '/edit'}" data-target="#myModal">
                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                        </a>
                        <a class="btn btn-xs btn-danger" href="javascript:" title="删除用户" data-role="delete-account"
                           th:attr="data-url=${'/account/' + account.id + '/delete'}">
                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script layout:fragment="script" th:src="@{app/account/index.js}"></script>
</body>
</html>